@model User

<form asp-action="Create" asp-controller="User" method="post">
    <h2 class="mb-4">User Create</h2>

    <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" asp-for="Name" required>
    </div>
    <div class="mb-3">
        <label for="inputAuthor" class="form-label">Surname</label>
        <input type="text" class="form-control" id="inputAuthor" asp-for="Surname" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Create</button>
</form>
