@model LibraryManagementSystem.Models.User

<h2>Are you sure you want to delete this User?</h2>

<div>
    <h4>@Model.Name @Model.Surname</h4>
</div>

<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="@Url.Action("Index", "User")" class="btn btn-secondary">Cancel</a>
</form>
