@model IEnumerable<LibraryManagementSystem.Models.User>

<div class="container mt-5">

    <a asp-controller="User" asp-action="Create" class="btn btn-primary w-100 mb-4">Create</a>

    <h2 class="mb-4">User List</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>
                        <a asp-controller="Borrow" asp-action="Borrow" asp-route-id=@user.Id
                            class="btn btn-outline-info btn-sm">Borrow</a>
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Update" asp-route-id=@user.Id
                            class="btn btn-outline-warning btn-sm">Update</a>
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Delete" asp-route-id=@user.Id
                            class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
